@use 'src/app/styles/breakpoints';

.footer {
    position: relative;
    width: 100%;
    min-height: 250px;
    background: var(--pink);
    text-align: center;
    padding: 40px;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        justify-content: center;
        padding: 2rem 0;
    }

    &__header {
        font-size: 14px;

        margin-bottom: 10px;
    }

    &__list li {
        display: flex;
        align-items: center;
        gap: 7px;
        margin-bottom: 7px;
    }

    &__list li a {
        color: var(--text-footer);
        font-size: 14px;

        &:hover {
            color: var(--primary-bg);
        }
    }
    &__copyright {
        color: var(--text-footer);
    }
}

@media (max-width: breakpoints.$sm) {
    .footer {
        &__wrapper {
            flex-direction: column;
            gap: 2rem;
            padding: 1.5rem 0;
            align-items: center;
        }

        &_col {
            align-items: center;
        }

        &__list {
            flex-direction: column;
            gap: 1.5rem;
            align-items: center;

            // li {
            //     flex-direction: column;
            //     text-align: center;
            // }
        }
    }
}
