@use 'src/app/styles/breakpoints';

.product-category {
    &__header {
        display: flex;
        justify-content: space-between;

        margin-bottom: 10px;
    }
}

@media (max-width: breakpoints.$lg) {
    .product-category {
        margin-top: 0px;
        margin-bottom: 15px;

        &__header {
            margin-top: -35px;
            margin-bottom: 120px;
        }
    }
}

@media (max-width: breakpoints.$md) {
    .product-category {
        // padding-top: 0.1px;
        margin-top: 10px;
        // margin-bottom: 35px;

        &__header {
            // margin-top: -35px;
            margin-bottom: 15px;
        }
    }
}
