@use 'src/app/styles/breakpoints';

.rules-details {
    color: var(--text-primary);
    margin-bottom: 5px;
    width: 100%;
    padding: 0px;
    /** Description of the contents of the book. */
    &__desc {
        margin-top: 50px;
        margin-bottom: 0px;
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media (max-width: breakpoints.$lg) {
    .rules-details {
        &__desc {
            margin-top: 10px;
            margin-right: 10px;
            margin-left: 15px;
        }
    }
}

@media (max-width: breakpoints.$md) {
    .rules-details {
        width: 100%;
        padding: 0 6px;
        &__desc {
            margin-top: 10px;
            margin-right: 0px;
            margin-left: 0px;
        }
    }
}
